@model PlagiarismCore.Models.IdentityModels.StudentProfile

@{
	ViewBag.Title = "My Profile";
}


<input type="hidden" id="Message" value="@((string)ViewBag.Message)" />
<div class="p-3">
	<h4 class="text-primary">My Profile</h4>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.FullName)
				@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Email)
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>

			<fieldset>
				<legend>Change Password</legend>
				<div class="form-group">
					@Html.LabelFor(model => model.CurrentPassword)
					@Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.NewPassword)
					@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
				</div>
			</fieldset>
			<br /><br />
			<input type="submit" value="Update" class="btn btn-primary" />
			@Html.ActionLink("Cancel", "Index", "ManageUser", null, new { @class = "btn btn-danger" })
		</div>
	}

</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/PlagiarismChecker/ManageUser/MyProfile.js"></script>
}
